<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mobishift.umengstatistics" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>UMengStatistics</name>
	<js-module name="UMengStatistics" src="www/UMengStatistics.js">
		<clobbers target="cordova.plugins.UMengStatistics"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="UMengStatistics">
				<param name="android-package" value="com.mobishift.umengstatistics.UMengStatistics"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
		</config-file>
		<source-file src="src/android/UMengStatistics.java" target-dir="src/com/mobishift/umengstatistics/UMengStatistics"/>
		<source-file src="src/android/umeng-analytics-v5.5.3.jar" target-dir="libs/"/>
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="UMengStatistics">
				<param name="ios-package" value="UMengStatistics"/>
			</feature>
		</config-file>
		<source-file src="src/ios/UMengStatistics.m"/>

		<header-file src="src/ios/MobClick.h" />
		<header-file src="src/ios/MobClickSocialAnalytics.h" />
		<source-file src="src/ios/libMobClickLibrary.a" framework="true"/>
	</platform>
</plugin>